.countdown-footer {
  height: 200px;
  background-image: url("../../assets//images/pattern-hills.svg");
  background-color: $color-black-blue;
  display: flex;
  align-items: center;
  justify-content: center;

  .links-wrapper {
    display: flex;
    gap: 24px;

    .social-link {
      display: inline-block;
      transition: transform 0.2s ease;

      img {
        width: 24px;
        height: 24px;
        transition: transform 0.2s ease;
      }

      &:hover {
        transform: scale(1.2);

        img {
          background-color: $color-soft-red;
        }
      }
    }
  }
}
