.countdown-footer {
  height: 200px;
  background-image: url("../../assets//images/pattern-hills.svg");
  background-color: $color-black-blue;
  @extend .flex-center;

  .links-wrapper {
    @extend .d-flex;
    gap: 24px;

    .social-link {
      img {
        width: 24px;
        height: 24px;
      }

      &:hover {
        img {
          background-color: $color-soft-red;
        }
      }
    }
  }
}
