// Primary
$color-grayish-blue: hsl(237, 18%, 59%);
$color-soft-red: hsl(345, 95%, 68%);

// Neutral
$color-white: hsl(0, 0%, 100%);
$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-very-dark-blue: hsl(235, 16%, 14%);
$color-black-blue: hsl(234, 17%, 12%);

// font-family
$font-family-primary: 'Red Hat Text', sans-serif;

// font-size
$font-size-body: 14px;
$font-size-heading: 24px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
